# Rolling Apply in pandas

This is the method by which you can apply own function to the dataset(any column) for a given window.<br>
<b>Syntax</b><br>
#### df = df.rolling_apply(df,window='  ',function_name)

In [19]:
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt
from matplotlib import style
from statistics import mean
style.use("fivethirtyeight")

In [20]:
def moving_average(values):
    return mean(values)

In [32]:
df = pd.read_pickle('fiddy_states_data.pickle')
df['mean_TX'] = pd.Series(df['AK']).rolling(10).apply(moving_average)
df = df.dropna()

In [33]:
print(df[['TX','mean_TX']])

                    TX     mean_TX
Date
1975-10-31   34.060297   37.038409
1975-11-30   34.288083   37.576682
1975-12-31   34.499877   38.093260
1976-01-31   34.634899   38.580198
1976-02-29   34.947815   39.032209
1976-03-31   35.689406   39.443037
1976-04-30   36.723111   39.807350
1976-05-31   37.024848   40.124210
1976-06-30   36.610633   40.398111
1976-07-31   36.402203   40.634244
1976-08-31   36.391075   40.836646
1976-09-30   36.491320   41.017868
1976-10-31   36.721670   41.197505
1976-11-30   37.031876   41.391754
1976-12-31   37.245885   41.609721
1977-01-31   37.413149   41.853754
1977-02-28   37.842142   42.121231
1977-03-31   38.894965   42.406227
1977-04-30   40.557255   42.703500
1977-05-31   40.837734   43.013457
1977-06-30   39.851628   43.338934
1977-07-31   39.601582   43.676056
1977-08-31   39.818117   44.013339
1977-09-30   40.132530   44.339644
1977-10-31   40.701397   44.650002
1977-11-30   41.509430   44.948937
1977-12-31   42.175132   45.248141
1978-01-31   42.604946   45.559980
1978-02-28   43.070754   45.895610
1978-03-31   43.885673   46.264906
...                ...         ...
2015-04-30  161.985357  169.175197
2015-05-31  163.669457  169.453660
2015-06-30  165.364455  169.874778
2015-07-31  166.534289  170.427573
2015-08-31  166.677796  171.090602
2015-09-30  166.780150  171.830493
2015-10-31  167.252888  172.587857
2015-11-30  167.475192  173.321075
2015-12-31  167.499314  173.988549
2016-01-31  168.154455  174.529741
2016-02-29  169.811922  174.911064
2016-03-31  171.549606  175.150963
2016-04-30  173.275154  175.318007
2016-05-31  175.340955  175.486771
2016-06-30  176.908768  175.668413
2016-07-31  177.896245  175.834557
2016-08-31  178.754708  175.965656
2016-09-30  179.300745  176.043441
2016-10-31  179.363251  176.082484
2016-11-30  179.140792  176.113146
2016-12-31  179.151625  176.130145
2017-01-31  180.213721  176.113088
2017-02-28  182.033197  176.063296
2017-03-31  184.142120  176.011600
2017-04-30  186.988964  176.035374
2017-05-31  189.348456  176.208210
2017-06-30  190.328274  176.546110
2017-07-31  190.705782  177.017877
2017-08-31  190.722700  177.560731
2017-09-30  190.485927  178.098663

[504 rows x 2 columns]