# Concatenating and appending DataFrames

In [1]:
import quandl
import pandas as pd
import numpy as np
import lxml
import html5lib

In [7]:
##creating dump data_frames
df1 = pd.DataFrame({'HPI':[80,85,88,85],
                   'Int_rate':[2,3,2,2],
                   'US_GDP_thousand':[50,55,65,50]},
                  index = [2001,2002,2003,2004])
df2 = pd.DataFrame({'HPI':[80,85,88,85],
                   'Int_rate':[2,3,2,2],
                   'US_GDP_thousand':[50,55,65,55]},
                  index = [2005,2006,2007,2008])
df3 = pd.DataFrame({'HPI':[80,85,88,85],
                   'Int_rate':[2,3,2,2],
                   'US_tier_HPI':[50,52,60,58]},
                  index = [2001,2002,2003,2004])

In [10]:
concat = pd.concat([df1,df2,df3])
print(concat)

      HPI  Int_rate  US_GDP_thousand  US_tier_HPI
2001   80         2             50.0          NaN
2002   85         3             55.0          NaN
2003   88         2             65.0          NaN
2004   85         2             50.0          NaN
2005   80         2             50.0          NaN
2006   85         3             55.0          NaN
2007   88         2             65.0          NaN
2008   85         2             55.0          NaN
2001   80         2              NaN         50.0
2002   85         3              NaN         52.0
2003   88         2              NaN         60.0
2004   85         2              NaN         58.0

### the above result is not usefull because concat() directly append at the bottom of the table but don't want to do this because it have same YEAR and HPI and INT_rate so they can share there colums and append at the top of dataset

In [13]:
concat = df1.append(df3)
print(concat)

      HPI  Int_rate  US_GDP_thousand  US_tier_HPI
2001   80         2             50.0          NaN
2002   85         3             55.0          NaN
2003   88         2             65.0          NaN
2004   85         2             50.0          NaN
2001   80         2              NaN         50.0
2002   85         3              NaN         52.0
2003   88         2              NaN         60.0
2004   85         2              NaN         58.0

### here same withn append()