In [1]:
import quandl
import pandas as pd
import numpy as np
import lxml
import html5lib
import pickle

In [2]:
api_key =  open('api_key_quandal.txt','r').readline().split()[0]

In [3]:
def get_states():
    data_states = pd.read_html("https://simple.wikipedia.org/wiki/List_of_U.S._states")
    return data_states[0][0][1:]

In [4]:
def fiddy_states_to_pickle():
    states  = get_states()
    df_main = pd.DataFrame()
    for abbv in states:
        api_name = 'FMAC/HPI_'+ str(abbv)
        df = quandl.get(api_name,authtoken = api_key)
        #     df.columns = [str(abbv)]
        df.rename(columns = {'Value':str(abbv)},inplace=True)
        if df_main.empty:
            df_main = df
        else:
            df_main = df_main.join(df)
    print(df_main.head())
    df_main.to_pickle('fiddy_states_data.pickle')

In [5]:
#fiddy_states_to_pickle()

In [6]:
HPI_data = pd.read_pickle('fiddy_states_data.pickle')
print(HPI_data.head())

                   AL         AK         AZ         AR         CA         CO  \
Date
1975-01-31  35.303417  34.527918  28.940032  36.838815  15.644547  19.630026
1975-02-28  35.502507  35.026256  29.409528  37.223497  15.693093  19.821180
1975-03-31  35.734654  35.536666  29.861852  37.561809  15.887119  20.013280
1975-04-30  36.015829  36.074757  30.227061  37.836285  16.203236  20.207580
1975-05-31  36.267298  36.676178  30.433976  38.086996  16.459320  20.382426

                   CT         DE         FL         GA    ...             SD  \
Date                                                      ...
1975-01-31  24.448197  27.122817  31.178268  30.721998    ...      37.928775
1975-02-28  24.978337  27.108578  32.306122  30.475086    ...      37.463460
1975-03-31  25.376128  27.132215  34.048244  30.372700    ...      36.994328
1975-04-30  25.589234  27.243265  36.262987  30.430184    ...      36.533508
1975-05-31  25.635869  27.469625  36.488976  30.522158    ...      36.119922

                   TN         TX         UT         VT         VA         WA  \
Date
1975-01-31  32.256816  32.582514  24.537282  26.562005  27.945021  17.331629
1975-02-28  32.272559  32.956762  24.915536  26.880710  28.213562  17.437792
1975-03-31  32.335014  33.592795  25.252674  27.189255  28.419414  17.570050
1975-04-30  32.448240  34.460884  25.517926  27.471153  28.586343  17.712653
1975-05-31  32.589892  34.658289  25.694623  27.719357  28.743314  17.836880

                   WV         WI         WY
Date
1975-01-31  40.881718  28.364836  31.425109
1975-02-28  41.956890  28.719369  31.929642
1975-03-31  43.075651  29.044479  32.459696
1975-04-30  44.224846  29.310520  32.998744
1975-05-31  45.371374  29.518618  33.505875

[5 rows x 50 columns]